export BOOTNODE_IP="__BOOTNODE_IP__"
export BOOTNODE_PORT="__BOOTNODE_PORT__"
export BOOTNODE_KEYHEX="__BOOTNODE_HEX_KEY__"
export BOOTNODE_PUBLICKEY="__BOOTNODE_PUBLIC_KEY__"
export RPC_PORT="__RPC_PORT__"
export CONSTELLATION_PORT="__CONSTELLATION_PORT__"
export GETH_PORT="__GETH_PORT__"
export GETH_NETWORK_ID="__GETH_NETWORK_ID__"