url = "http://127.0.0.1:9000/"
port = 9000
socketPath = "tempdata/node.ipc"
otherNodeUrls = []
publicKeyPath = "keys/node.pub"
privateKeyPath = "keys/node.key"
archivalPublicKeyPath = "keys/nodea.pub"
archivalPrivateKeyPath = "keys/nodea.key"
storagePath = "tempdata/constellation"