{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "adminUsername": {
      "value": "azureuser"
    },
    "adminPassword": {
      "value": ""
    },
    "dnsLabelPrefix": {
      "value": ""
    },
    "isVoter": {
      "value": true
    },
    "VoterAccountAddress": {
      "value": ""
    },
    "VoterAccountPassword": {
      "value": ""
    },
    "IsBlockmaker": {
      "value": true
    },
    "BlockmakerAccountAddress": {
      "value": ""
    },
    "BlockmakerAccountPassword": {
      "value": ""
    },
    "GethNetworkId": {
      "value": 87234
    },
    "AzureStorageConnectionString": {
      "value": ""
    },
    "AzureTenant": {
      "value": ""
    },
    "AzureSPNAppId": {
      "value": ""
    },
    "AzureSPNPassword": {
      "value": ""
    },
    "ContainerHostIp": {
      "value": ""
    },
    "OtherConstellationNodes": {
      "value": ""
    }
  }
}
